/*iconfont默认样式*/
.icon {
  width: 1.5em; height: 1.5em;
  vertical-align: -0.5em;
  fill: currentColor;
  overflow: hidden;
  }
/* 页脚蝴蝶振翅动画 */
.copyright svg{
  animation:butterfly 1s linear infinite alternate;
}
@keyframes butterfly {
  from {
    transform:rotateY(70deg);
  }
  to {
    transform:rotateY(0deg);
  }
}